{% load static %}
<head>
<title>WebSockets | WebRTC Many-to-Many Video Conferencing</title>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="author" type="text/html" href="https://plus.google.com/+MuazKhan">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="https://cdn.webrtc-experiment.com/style.css">
		
        <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
        <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
        <style>
        video{
            width:30%;
            border-radius:15px;
        }

        #overlay {
            background-color: rgba(0,0,0,0.5);
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            z-index:11;
            height:100%;    
        }


        </style>
</head>

<body>


	<section class="experiment">

        <input type="text" id="roomid" placeholder="Unique room id"></input>
        <button id="btn-open-or-join">
            open or join room
        </button>

        <br><br>

        <div id="local-video-container">
        <button id="btn-exit">exit</button>

        </div>
        
        <hr>

        <div id="remote-video-container">
       

        </div>

    </section> 
	<script type="text/javascript" src="{% static 'tutorial/js/main.js' %}"></script>
</body>