asgi-redis==1.4.3
asgiref==1.1.2
asn1crypto==0.24.0
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
cffi==1.11.4
channels==1.1.8
constantly==15.1.0
cryptography==2.1.4
daphne==1.4.2
Django==1.11
django-extensions==1.9.9
django-secure==1.0.1
django-sslserver==0.20
enum34==1.1.6
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.19
msgpack-python==0.5.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==17.5.0
pytz==2017.3
redis==2.10.6
service-identity==17.0.0
six==1.11.0
Twisted==17.9.0
txaio==2.8.2
typing==3.6.4
Werkzeug==0.14.1
zope.interface==4.4.3
